.home {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #effaff 0%, #d9e7ff 100%);
  }
  
  h1 {
    font-family: 'Tilt Prism', cursive;
    font-size: 100px;
    font-weight: 800;
    padding-bottom: 10px;
    background: -webkit-linear-gradient(45deg, #09009f, #32d390 80%);
    
  }
  
  h3 {
    color: radial-gradient(
      rgb(57, 255, 186) 0%,
      rgb(21, 38, 82) 90%
    );
    padding: 1rem 2rem;
    border-radius: 6px;
    font-size: 30px;
    letter-spacing: 2px;
    color: #c1dbe6;
  }
  